<img [src]="aboutImage" alt="Best real estate firm in Nagpur" class="img-fluid rounded-2 preview-image about-image">

<img src="/assets/images/U-Logo.png" style="width: 50px; margin-bottom: 15px;" alt="Real estate company in Nagpur">

<section id="home" class="banner-wrapper position-relative" [ngStyle]="{ 
    'background-image': 'url(assets/images/image/carousel-2.jpg)' 
  }"> 
  <!-- Black overlay --> 
  <div class="banner-overlay position-absolute top-0 start-0 w-100 h-100"></div> 
 
  <div class="container position-relative"> 
    <div class="row"> 
      <div class="col-sm-12 text-center text-md-start" data-aos="fade-left"> 
        <h1 class="text-white text-center m-2 p-2 fw-bold text-uppercase banner-heading"> 
          Welcome to Mukunda Infraventure & Projects Pvt. Ltd 
        </h1> 
      </div> 
    </div> 
  </div> 
</section> 
 
 
<main class="main-wrapper"> 
  <section id="about" class="container-fluid about-wrapper" data-aos="fade-left"> 
    <div class="row"> 
      <div class="col-md-4"> 
        <img [src]="aboutImage" alt="Best real estate firm in Nagpur" class="img-fluid rounded-2 preview-image about-image"> 
      </div> 
      <div class=" col-md-8  text-justify"> 
        <div class="mb-md-0 justify-content-between"> 
          <h1 class="title-content text-uppercase"> 
            <img src="/assets/images/U-Logo.png" style="width: 50px; margin-bottom: 15px;" alt="Real estate company in Nagpur"> 
            We Plan, We Build, We Deliver 
          </h1> 
          <p class="about-para text-justify mx-4 px-5">{{ aboutText }}</p> 
        </div> 
      </div> 
    </div> 
  </section> 
 
 
  <section id="VMV-section" data-aos="fade-left"> 
    <div class="container-fluid"> 
      <div class="row"> 
        <div class="col-sm-12" data-aos="fade-left"> 
          <div class="text-content"> 
            <h1 class="p-2 m-2 discover text-center text-uppercase"> 
              <img src="/assets/images/U-Logo.png" style="width: 50px; margin-bottom: 15px;" alt="Real estate company in Nagpur"> 
              Discover Our Journey 
            </h1> 
            <p class="vmv-para mx-3 px-5 text-justify"> 
  One of India's top engineering consulting and contracting companies, Mukunda Infraventure & Projects Pvt. Ltd. offers top-notch technical services for infrastructure, housing, and real estate projects. 
 
  Established in the year 2021, Mukunda Infraventure & Projects Pvt. Ltd. operates as a stand-alone corporation with a strong focus on achieving its goals in terms of project value and environmental impact. 
 
  Mukunda Infraventure & Projects Pvt. Ltd. is committed to using best-in-class work processes and modern software to provide clients with prompt, effective, and executable solutions. This commitment is fueled by the "Client Centric" philosophy adopted by the company in all its projects. Ethical standards and safeguarding intellectual property are priorities for the organization. 
  <br><br> 
  <b>Salient Features:</b><br> 
  - One-stop solution for all engineering needs<br> 
  - World-class, luxurious projects offered to clients at affordable rates<br> 
  - Co-creating the future with stakeholders of the project 
</p> 
 
          </div> 
        </div> 
      </div> 
      <div class="row p-5" data-aos="fade-up"> 
        <div class="col-lg-4 col-md-4 mb-lg-0 mb-5 "> 
          <div class="card p-2 m-2 justify-content-between"> 
            <img src="assets/images/image/vision-4.jpg" height="250px" alt="Luxury residential home by trusted real estate developer in Nagpur"> 
            <h3 class="p-2 m-2 fw-bold text-center">OUR VISION</h3> 
            <p class="text-justify">We aim to craft living spaces where families thrive and communities flourish, and to 
              develop commercial spaces that foster innovation and growth.</p> 
 
          </div> 
        </div> 
        <div class="col-lg-4 col-md-4 mb-lg-0 mb-5"> 
          <div class="card p-2 m-2 justify-content-between"> 
            <img src="assets/images/image/mission2.jpg" height="250px" alt="Property investment consultation by Mukunda Infraventure & Projects in Nagpur"> 
            <h3 class="p-2 m-2 text-center fw-bold">OUR MISSION</h3> 
            <p class="text-justify">'At Mukunda Infraventure & Projects Private Limited, our mission is to create exceptional residential and commercial 
              properties that reflect our clients’ aspirations, values, lifestyle, and dreams.</p> 
          </div> 
        </div> 
        <div class="col-lg-4 col-md-4 mb-lg-0 mb-5"> 
          <div class="card justify-content-between p-2 m-2"> 
            <img src="assets/images/image/value1.jpg" height="250px" alt="Residential property in Nagpur for families by Mukunda Infraventure & Projects"> 
            <h3 class="p-2 m-2 fw-bold text-center">OUR VALUES</h3> 
            <p class="text-justify"> 
               
              We act with honesty and transparency in all our dealings. We embrace change for continuous improvement. We 
              deliver excellence in every sq ft we build. 
            </p> 
          </div> 
        </div> 
      </div> 
    </div> 
  </section> 
 
  <section class="invitation mb-5" data-aos="fade-left"> 
    <div class="container"> 
      <div class="row"> 
        <div class="col-12"> 
          <div class="invitation-bg text-center p-5 rounded-5" [ngStyle]="{ 
                'background-image': 'url(assets/images/image/carousel-2.jpg)' 
              }"> 
            <div class="text-white w-75 m-auto"> 
              <h2 class="display-5 fw-bold"> 
                Step into Mukunda Infraventure & Projects Pvt. Ltd. 
              </h2> 
 
              <a routerLink="/contacts" class="btn btn-danger btn-lg px-5"> 
                Let's Talk <fa-icon [icon]="faArrowRight" class="ms-2" style="font-size: 18px; 
  vertical-align: middle;"></fa-icon> 
              </a> 
            </div> 
          </div> 
        </div> 
      </div> 
    </div> 
  </section> 
</main>