<div class="sticky-contact" [@fadeInStagger]>
    <ul class="contact-icons">
      <li class="icon whatsapp">
        <a href="https://web.whatsapp.com/send?phone=+918956944848" target="_blank" rel="noopener">
          <fa-icon [icon]="faWhatsapp" class="icon-color"></fa-icon>
          <!-- <span>WhatsApp</span> -->
        </a>
      </li>
      <li class="icon phone">
        <a href="tel:+918956944848">
          <fa-icon [icon]="faPhone" class="icon-color"></fa-icon>
          <!-- <span>Phone</span> -->
        </a>
      </li>
      <li class="icon email">
        <a href="mailto:info&#64;keshavam.com">
          <fa-icon [icon]="faEnvelope" class="icon-color"></fa-icon>
        </a>
      </li>
    </ul>
  </div>